body,
html {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #282929; /* A soothing light background */
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px); /* Adjusted for top and bottom content padding */
  padding: 20px;
  gap: 20px;
}

#top-content {
  text-align: center;
  padding: 20px 0;
  width: 100%; /* Full width of the viewport */
  height: 150px; /* Fixed height for the header */
  background-image: url("/front-end/hallebackground.jpeg"); /* Path to your image */
  background-size: cover;
  background-position: center; /* Adjust this to focus on the part of the image you want */
  background-repeat: no-repeat;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  font-size: 1.5rem;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center; /* Center content vertically and horizontally */
  border-radius: 15px 15px 0 0; /* Rounded top corners */
}
#map-container {
  display: flex;
  width: 100%;
  max-width: 1500px;
  height: 100%; /* Set a fixed height for the map container */

  border-radius: 15px; /* Rounded corners */
  overflow: hidden; /* Ensures that child elements (map and details) conform to the container's rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

#map2-container {
  display: flex;
  width: 100%;
  max-width: 1500px;
  height: 100%; /* Set a fixed height for the map container */

  border-radius: 15px; /* Rounded corners */
  overflow: hidden; /* Ensures that child elements (map and details) conform to the container's rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

#map,
#details-area {
  border-radius: 15px; /* Applies rounded corners to ensure consistency within the container */
}

#map {
  width: 70%;
  height: 100%; /* Fixed height for the map */
  border-right: 1px solid #000; /* Adds a subtle separator between the map and the details area */
  border-radius: 15px 0 0 15px; /* Rounded corners on the left side only */
}
#map2 {
  width: 100%;
  height: 100%; /* Fixed height for the map */
  border-right: 1px solid #000; /* Adds a subtle separator between the map and the details area */
  border-radius: 15px 0 0 15px; /* Rounded corners on the left side only */
}

#details-area {
  width: 30%;
  height: 100%; /* Ensures details area is the same height as the map */
  overflow-y: auto;
  padding: 20px;
  background-color: #212121; /* Matching the main background color for consistency */
  color: #fff; /* White text for contrast */
  border-radius: 0 15px 15px 0; /* Rounded corners on the right side only */
}

ul {
  list-style: none; /* Removes default list styles */
  padding: 0;
  margin: 0;
}

ul li a {
  color: #007bff;
  text-decoration: none;
  padding: 10px;
  display: block;
  border-radius: 4px; /* Rounded corners for links */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transitions for interaction */
}

ul li a:hover,
ul li a:focus {
  text-decoration: none; /* Removing underline on hover */
  background-color: #e9ecef; /* Bootstrap-like hover background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

#performances-on {
  font-style: italic;
  font-size: x-large;
}

/* Close button for the details-area */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ccc;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.close-btn:hover {
  background: #b1b1b1;
}

/* Adjust the font size and color of the top content for better readability */
#top-content {
  font-size: 2rem; /* Bigger font size for the top content */
  color: #4a4a4a; /* Subtle dark color for a soft look */
}

/* Modern scrollbar for the details area */
#details-area::-webkit-scrollbar {
  width: 5px;
}

#details-area::-webkit-scrollbar-track {
  background: #ddd;
}

#details-area::-webkit-scrollbar-thumb {
  background: #aaa;
}

#details-area::-webkit-scrollbar-thumb:hover {
  background: #888;
}
.concert-list {
  max-height: 200px; /* Adjust as needed */
  overflow-y: scroll; /* Hide the scrollbar while still allowing scrolling */
  border-top: 1px solid #ddd; /* Optional: adds a separator between the header and list */
}

.info.legend {
  padding: 6px 10px;
  font: 14px Arial, sans-serif;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #333;
}

.info.legend strong {
  display: block;
  margin-bottom: 10px;
}

.legend-item {
  line-height: 18px;
  margin-bottom: 4px;
}

.info.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
}
.performance-list {
  list-style-type: none; /* Removes default list styling */
  padding-left: 20px; /* Adequate padding for custom bullet points */
}
ul.performance-list {
  list-style-type: none;
  padding-left: 0;
}

.performance-item {
  background: #333;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  transition: background-color 0.5s ease;
}

.performance-item:hover {
  background-color: #3a3a3a; /* Darken item on hover */
}

.performance-title-link {
  text-decoration: none;
  color: #ffddd2;
  transition: color 0.3s ease;
}

.performance-title-link:hover,
.performance-title-link:focus {
  text-decoration: underline;
  color: #e29578;
} /* Changes color on hover */

.composer-name {
  font-weight: 300;
  font-style: italic;
}
